
@{
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.Title = "DrawPointsOnImage";
}
<h1>Ảnh với các chấm đã được vẽ lên</h1>
<p>Ảnh đã được vẽ các điểm chấm lên test</p>
<img src="@Url.Action("DrawPointsOnImage", "Home")" alt="Ảnh đã được vẽ các điểm chấm lên">