@model List<WorkScheduleViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ShowMap";
}
<style>
    .map-height{
        width:1120px;
        height: 980px;
    }
</style>
<h4>Xem chi tiet vi tri theo ban do</h4>
<div class="row">
    <div class="form-group col-md-6">
        <select  asp-items="@ViewBag.GetLocationList" id="location" class="form-control">
           <option selected disabled> Selected</option>
           
        </select>
    </div>
    <div class="form-group col-md-6">
    <select id="areaDropdown" asp-items="@ViewBag.GetAreaList" class="form-control">
        <option selected disabled>Selected Area</option>
    </select>
    </div>
</div>
<div  >
    <canvas id="myCanvas" class="map-height" ></canvas>
</div>
@section Scripts{
    <script>
        // Lắng nghe sự kiện khi người dùng thay đổi giá trị trong dropdown
        document.getElementById("areaDropdown").addEventListener("change", function () {
            // Lấy giá trị được chọn
            var selectedAreaId = this.value;

            // Lấy canvas
            var canvas = document.getElementById("myCanvas");

            // Thay đổi hình nền của canvas dựa trên giá trị được chọn
            switch (selectedAreaId) {
                case "3":
                    canvas.style.background = "url('../Images/mapQv.png')";
                    break;
                case "99":
                    canvas.style.background = "url('../Images/DongVang.jpg')";
                    break;
                case "5":
                    canvas.style.background = "url('../Images/QuangChauFM.PNG')";
                    break;
                case "101":
                    canvas.style.background = "url('../Images/QuangChauKhuP.PNG')";
                    break;
                case "106":
                    canvas.style.background = "url('../Images/BanDothienKim.png')";
                    break;
                case "10":
                    canvas.style.background = "url('../Images/MAPQCKHUI.png')";
                    break;
                case "8":
                    canvas.style.background = "url('../Images/MapBN3.png')";
                    break;
                default:
                    canvas.style.background = "url('../Images/mapQv.png')"; // Hình mặc định khi không có khu vực nào được chọn
                    break;
            }

        });
        
        
      

        
       
    </script>
}