@model List<WorkScheduleViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Maps";
}
<h4 class="text-center">Xem chi tiet vi tri theo ban do</h4>
<div class="row pb-3">
    <div class="col-6">
        <div class="input-group input-group-static">
            <label class="control-label pt-2">Location : </label>
            <select  asp-items="@ViewBag.GetLocationList" id="location" class="form-control">
               <option selected disabled> Selected</option>           
            </select>
        </div>
    </div>
    <div class="col-6">
        <div class="input-group input-group-static">
            <label class="control-label pt-2">Khu vực : </label>
            <select id="areaDropdown" asp-items="@ViewBag.GetAreaList" class="form-control">
                <option selected disabled>Selected Area</option>
            </select>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <img id="myCanvas" src="~/Images/no-data.svg" alt="Select area to show map" class="img-fluid img-thumbnail" >
</div>
@section Scripts{
    <script>
        // Lắng nghe sự kiện khi người dùng thay đổi giá trị trong dropdown
        document.getElementById("areaDropdown").addEventListener("change", function () {
            // Lấy giá trị được chọn
            var selectedAreaId = this.value;   
            var canvas = document.getElementById("myCanvas");
            var notes = document.getElementById("notes");
            // Thay đổi hình nền của canvas dựa trên giá trị được chọn
            switch (selectedAreaId) {
                case "3":
                    canvas.src = "../Images/mapQv.png";  
                    break;
                case "99":
                    canvas.src = "../Images/DongVang.jpg";                 
                    break;
                case "5":
                    canvas.src = "../Images/QuangChauFM.PNG";                   
                    break;
                case "101":
                    canvas.src = "../Images/QuangChauKhuP.PNG";                 
                    break;
                case "106":
                    canvas.src = "../Images/BanDothienKim.png";                   
                    break;
                case "10":
                    canvas.src = "../Images/MAPQCKHUI.png";                   
                    break;
                case "8":
                    canvas.src = "../Images/MapBN3.png";                  
                    break;
                default:
                    canvas.src = "../Images/no-data.svg"; 
                    canavs.innerHTML = "<div class='text-center'>No data</div>";
                break;
            }
        });       
    </script>
}
    <style>
        .img-thumbnail {
            border: none;
        }
    </style>
